.canvas-wrapper {
    position: relative;
    height:540px;
    margin-bottom:30px;
    margin-top:30px;
}
.canvas-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
body{
    background-image:url("./imgs/webpage_back.png");
    background-attachment:fixed;
    font-family: 'Stick', cursive;
    color:white;
    margin:0;
}
h1{
    font-size:40px;
    color:white;
    margin-left:30px;
}
h2{
    margin-left:-20px;
}
.margin-20{
    margin-left:-20px;
}
.copyright{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    background-color:#333333;
    margin-top:30px;
    margin-bottom:0;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}
.bo{
    margin-top:-20px;
    margin-bottom:30px;
    margin-left:80px;
}
.center{
    position:relative;
    width:960px;
    margin-left:auto;
    margin-right:auto;
    padding:0;
    padding-bottom:30px;
    margin-bottom:0;
    background-color:rgba(0,0,0,0.74);
    padding-top:10px;
}

.kakomi-triple1 {
    position: relative;
    border: 1px solid #ffffff; /*左枠線*/
    width: 30%;
    min-width:400px;
    padding: 5px 10px 5px 10px;
    margin-bottom:40px;
    z-index: 0;
   }
   .kakomi-triple1::before,
   .kakomi-triple1::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
   }
   .kakomi-triple1::before {
    border: 1px solid #ffffff; /*中枠線*/
    bottom: -4px;
    right: -4px;
    z-index: 1;
   }
   