.canvas-wrapper {
    position: relative;
    height:600px;
}
.canvas-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    margin:auto;
}
body{
    background-color:black;
    font-family: 'Stick', cursive;
    color:white;    
}
h1{
    font-size:40px;
    color:white;
    margin-left:50px;
}
.bo{
    margin-top:-30px;
    margin-bottom:30px;
    margin-left:100px;
}
.center{
    margin-left:0px;
    margin-right:0px;
}