.canvas-wrapper {
    position: relative;
    height:540px;
    margin-bottom:30px;
    margin-top:30px;
}
.canvas-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
body{
    background-image:url("./imgs/webpage_back.png");
    background-attachment:fixed;
    font-family: 'Stick', cursive;
    color:white;
    margin:0;
}
h1{
    font-size:36px;
    color:white;
    background-color:#000000;
    margin-left:30px;
}
h2{
    margin-top:10px;
    margin-bottom:10px;
}
.margin20{
    margin-left:20px;
}
.copyright{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    background-color:#333333;
    margin-bottom:0;
    padding-top:10px;
    margin-top:20px;
    padding-bottom:20px;
    text-align:center;
}
.bo{
    margin-top:-20px;
    margin-bottom:10px;
    margin-left:50px;
    margin-right:50px;
}
.center{
    position:relative;
    width:960px;
    margin-left:auto;
    margin-right:auto;
    padding:0;
    padding-bottom:30px;
    margin-bottom:0;
    background-color:rgba(0,0,0,0.74);
    z-index:-999;
    padding-top:10px;
}

.kakomi-triple1 {
    position: relative;
    border: 1px solid #ffffff; /*左枠線*/
    width: 30%;
    min-width:400px;
    padding: 5px 10px 5px 10px;
    margin-bottom:40px;
    z-index: 0;
   }
   .kakomi-triple1::before,
   .kakomi-triple1::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
   }
   .kakomi-triple1::before {
    border: 1px solid #ffffff; /*中枠線*/
    bottom: -4px;
    right: -4px;
    z-index: 1;
   }
   
   .mybox{
	background-color: #fff;	/* 背景色 */
	border: 1px solid #ccc; /* 線の太さ・種類・色 */
	box-shadow:1px 1px 6px 0px #ccc;
	-moz-box-shadow:1px 1px 6px 0px #ccc;
	-webkit-box-shadow:1px 1px 6px 0px #ccc;
	-o-box-shadow:1px 1px 6px 0px #ccc;
	margin: 20px 5px; /* 外側の余白 上下・左右 */
	padding: 30px 20px 20px 20px; /* 内側の余白 上・右・下・左 */
	position: relative;
	z-index: 0;
    color:black;
    margin-left:30px;
    margin-right:30px;
}
.mybox:after{
	background-color: #d9ccb3; /* マステ部分の色1 */
	background-image: linear-gradient(45deg, #dfd4be 25%, transparent 25%, transparent 75%, #dfd4be 75%, #dfd4be), linear-gradient(45deg, #dfd4be 25%, transparent 25%, transparent 75%, #dfd4be 75%, #dfd4be); /* マステ部分の色2 */
	background-position: 0 0, 12px 12px;
	background-size: 24px 24px;
	border-left: 2px dotted rgba(255,255,255,0.9);
	border-right: 2px dotted rgba(255,255,255,0.9);
	box-shadow: 0 0 5px rgba(255,255,255,0.5);
	content: '更新履歴';
	display: block;
	margin: 0 0 10px 0;
	padding: 5px 20px;
	color: #000;  /* マステ部分文字色 */
	text-align: center;
	position: absolute;
	top: -10px;
	left: 20px;
	transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
}
.box26 {
    position: relative;
    margin: 2em 0;
    padding: 20px 1em;
    border: solid 3px #fff;
    border-radius: 0px;
    margin-left:30px;
    margin-right:30px;
}
.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 26px;
    background: #000;
    color: #fff;
    font-weight: bold;
}
.box26 p {
    margin: 0; 
    padding: 0;
}
.credits {
    background-color:#222;
    padding-left:5px;
    padding-top:10px;
    padding-bottom:10px;
    position:relative;
}

.mypicImg{
    position:absolute;
    right:20px;
    bottom:20px;
}
.mypicImg2{
    position:absolute;
    right:20px;
    bottom:90px;
}
.mypicImg3{
    transform:scale(-1,-1);
    position:absolute;
    right:120px;
    bottom:190px;
    z-index:-1;
}
ul{
    padding:0rem;
    list-style:none;
}
ul li:before{
    font-family: "Font Awesome 5 Free";
    content:'\f3a5';
    padding:10px;
    font-weight:lighter;
    color:#fff;
}